<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>271380736469-8jk7gk9r46l6rd0qdb3k8pp8l57m0led.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD85M3foh7pZqcVbO8hVL15gNTYW13M0a0</string>
	<key>GCM_SENDER_ID</key>
	<string>271380736469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mazzraati.farmapp</string>
	<key>PROJECT_ID</key>
	<string>beytiarabia</string>
	<key>STORAGE_BUCKET</key>
	<string>beytiarabia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271380736469:ios:40bed7011b8a50fda3755c</string>
	<key>DATABASE_URL</key>
	<string>https://beytiarabia-default-rtdb.firebaseio.com</string>
</dict>
</plist>